<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 - 메인</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/admin/mainstyle.css">
</head>
<body>
    <!-- header -->
    <header>
        <div class="header-column">
            <a href="index.html">
                <i class="fa-solid fa-house-chimney"></i>
            </a>
        </div>
        <div clsas="header-column">
            <button class="info-btn">
                <i class="fa-solid fa-user"></i>
            </button>
        </div>
    </header>
    <!-- header -->


    <nav>
        <ul class="admin-menu">
            <li class="admin-menu_column">
                <a class="page-link root-page" href=""></a>
                <a class="page-link" href=""></a>
                <a class="page-link" href=""></a>
            </li>
            <li class="admin-menu_column"></li>
        </ul>
    </nav>

    
</body>
</html>