

body {
    background-color: grey;
    
}
header {
    display: flex;
    font-family: 'Gothic A1', sans-serif;
}

.header_left,
.header_right {
    color: white;
    height: 30vh;
    width: 50%;
    display: flex;
    
}
.header_left-column,
.header_right-column{
    height: 60px;
    display: flex;
    align-items: center;
}
/* start header_leftㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.header_left-search {
    display: flex;
}
.header_left-column:first-child {
    margin-right: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.header_left-column:last-child {
    position: relative;
}
.header_left-column:last-child i,
.header_left-column:last-child select {
    position: absolute;
}
.header_left-column:last-child select {
    right: 0px;
}
.header_left-column:last-child input,
.header_left-column:last-child select {
    background-color: transparent;
    outline: none;
    color: white;
}
.search_input {
    font-size: 17px;
    width: 230px;
    padding: 8px 23px;
    border: none;
    border-bottom: 2.5px solid rgba(255, 255, 255, 1);
}
.select_search {
    border: none;
    font-size: 17px;
}
.select_search option{
    appearance: none;
    background-color: black;
    border-radius: 20px;
}
/* .invisible {
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
} */
    /* search-box responsive codeㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.header_left-search:hover > .header_left-column:last-child .invisible {
    opacity: 0.5;
}
.header_left-search:focus-within > .header_left-column:last-child .invisible {
    opacity: 1;
}
    /* search-box responsive codeㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* end header_leftㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* start header_rightㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.header_right {
    justify-content: end;
}
.add_icon{
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add_icon button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
}
.add_icon i {
    font-size: 15px;
    color: white;
}
.add_icon p {
    font-size: 13px;
}

.header_right-column:last-child {
    padding-right: 20px;
    display: flex;
    margin-left: 10px;
    
}
.header_right-column:last-child i {
    font-size: 25px;
}
.header_right-column:last-child span {
    font-size: 30px;
}
.header_right-column:last-child div {
    font-size: 13px;
}
.header_right:hover > .invisible {
    opacity: 1;
}

/* end header_rightㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 